.git
.github
node_modules
npm-debug.log
README.md
.next
.env
.env.local
.env*.local
.vscode
.idea
*.log
.DS_Store
coverage
.nyc_output
playwright-report
test-results
e2e
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

